<ion-view view-title="Stats">
  <ion-content>
    <div class='list card'>
			<div class='item item-icon-left'>
				<i class='icon ion-pound'></i>
			   Total Number Rated
				 <button class='button button-outline button-dark button-right'>
					 100
				 </button>
			</div>
			
			<div class='item item-icon-left'>
				<i class='icon ion-reply'></i>
			   Swiped Left
				 <button class='button button-outline button-assertive button-right'>
					 60
				 </button>
			</div>
			
			<div class='item item-icon-left'>
				<i class='icon ion-forward'></i>
			   Swiped Right
				 <button class='button button-outline button-balanced button-right'>
					 100
				 </button>
			</div>
				
    </div>
  </ion-content>
</ion-view>
