<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-color-active-positive tabs-stable">


  <!-- Dashboard Tab -->
  <ion-tab title="Rate" icon-off="ion-home" icon-on="ion-home" href="#/tab/rate">
    <ion-nav-view name="tab-rate"></ion-nav-view>
  </ion-tab>


  <!-- Chats Tab -->
  <ion-tab title="Stats" icon-off="ion-star" icon-on="ion-star" href="#/tab/stats">
    <ion-nav-view name="tab-stats"></ion-nav-view>
  </ion-tab>

  <!-- Friends Tab -->
  <ion-tab title="Options" icon-off="ion-gear-a" icon-on="ion-gear-a" href="#/tab/options">
    <ion-nav-view name="tab-options"></ion-nav-view>
  </ion-tab>


</ion-tabs>
